
.DS_Store
__pycache__
__pycache__/bit_operations.cpython-311.pyc
__pycache__/datatypes.cpython-311.pyc
__pycache__/engine.cpython-311.pyc
__pycache__/errors.cpython-311.pyc
__pycache__/extration_of_data.cpython-311.pyc
__pycache__/flag_register.cpython-311.pyc
__pycache__/multipurpose_registers.cpython-311.pyc
__pycache__/op0arg.cpython-311.pyc
__pycache__/op1arg.cpython-311.pyc
__pycache__/op2arg.cpython-311.pyc
__pycache__/registers_operation_check.cpython-311.pyc
__pycache__/stack.cpython-311.pyc
__pycache__/var_his.cpython-311.pyc